.git
.venv
.venv-gpu
__pycache__
*.pyc
.env
Data7.off
dataset_annote
dataset_final_harmonise
annotations_sessions
backups_original_annotations
runs
runs_temp_best_2
evaluation_runs
models_history
*.log
*.db
*.sqlite
*.sqlite3
training_status.json
